Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [8]:
import pandas as pd
import numpy as np
ser=pd.Series()
print(ser)

Series([], dtype: float64)

/tmp/ipykernel_110/944041644.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser=pd.Series()

In [9]:
data = np.array([4,8,15,16,23,42])
ser=pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [12]:
lst=['apple','mango','carrot','onion','peas','pear','orange','grapes','watermelon','date']
x=pd.Series(lst)
print(x)

0         apple
1         mango
2        carrot
3         onion
4          peas
5          pear
6        orange
7        grapes
8    watermelon
9          date
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

In [13]:
dict1 ={
    "name":['ALICE', 'BOB', 'CLAIRE'],
    "Age":[25,30,27],
    "Gender":['FEMALE','MALE','FEMALE']
}

In [14]:
df=pd.DataFrame(dict1)

In [19]:
df

     name  Age  Gender
0   ALICE   25  FEMALE
1     BOB   30    MALE
2  CLAIRE   27  FEMALE

In [21]:
type(df)

pandas.core.frame.DataFrame

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
ans- In summary, a DataFrame is a 2-dimensional data structure designed for handling tabular data with multiple columns, while a Series is a 1-dimensional data structure used to represent a single column or row of data within a DataFrame or as a standalone data structure.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [27]:
type(df[['Age']])

pandas.core.frame.DataFrame

In [28]:
df.columns

Index(['name', 'Age', 'Gender'], dtype='object')

In [29]:
df.dtypes

name      object
Age        int64
Gender    object
dtype: object

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

ANS=All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable. Note − DataFrame is widely used and one of the most important data structures. Panel is used much less.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [31]:
# importing pandas library
import pandas as pd
 
# Creating a list
author = ['Jitender', 'Purnima', 
          'Arpit', 'Jyoti']
# Creating a Series by passing list 
# variable to Series() function
auth_series = pd.Series(author)
# Printing Series
print(auth_series)

SyntaxError: incomplete input (1387258562.py, line 11)